extends layout

block content

  div.container-fluid
    div.container
      h2=title

      p 
        | We are HA Proxy Technology. We rock.

    div.container 
      h2 Your Connection

      div(id="network-div").h-50.w-75
        script draw_network( data={
          each val, key in data
            | #{key}: "#{val}",
          | }) 

      div
        table(id="hapee_sys").table
      div
        table(id="hapee_hw").table

    div.container
      h2 Latest HA Proxy releases
      table(id="releasetable").table 



    script get_releases()
    script get_connection_info( data={ hostname: "#{data.hostname}", cluster_id: "#{data.cluster_id}", server: "#{data.local.replace(/::ffff:/, '')}" } )
